img{
    width: 280px;
    height: 230px;
    margin-top: 1em;
    margin-left: 1.5em;
    border: 1px solid greenyellow;
    float: left;
}

p{
    color: #151515;
    font-size: 20px;
    margin-left: 1em;
}